<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18"> Employee</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Printonaz</a></li>
                            <li class="breadcrumb-item active"> Employee</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Employee</h4>
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                       
 <div class="row mb-2 ">
                            <div class="col-sm-3"></div>

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-3 col-form-label"> Employee
                                        Name</label>
                                    <div class="col-md-9">
                                        <div class="form-group">

                                            <input class="form-control" type="text" formControlName="name" />
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm['name'].errors?.['required']">
                                                Name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-3 col-form-label"> Email</label>
                                    <div class="col-md-9">
                                        <div class="form-group">

                                            <input class="form-control" type="text" formControlName="email" />
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm['email'].errors?.['required']">
                                                Enter your email.
                                            </div>
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm['email'].errors?.['pattern']">
                                                Enter valid email.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-3 col-form-label"> Designation</label>
                                    <div class="col-md-9">
                                        <div class="form-group">

                                            <select class="custom-select form-control"
                                                (change)="updateProfile($event.target.value)"
                                                formControlName="designation">
                                                <option value="">Choose...</option>
                                                <option *ngFor="let employeeProfile of EmployeeProfile"
                                                    value="{{ employeeProfile }}">
                                                    {{ employeeProfile }}
                                                </option>
                                            </select>
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm['designation'].errors?.['required']">
                                                Choose designation.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-3 col-form-label"> Mobile
                                        Number</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input class="form-control" type="text" formControlName="phoneNumber" />
                                            <!-- error -->
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm['phoneNumber'].errors?.['required']">
                                                Enter your phone number.
                                            </div>
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && myForm['phoneNumber'].errors?.['pattern']">
                                                Enter Numbers Only
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-sm-3"></div><!-- end col-->
                                <div class="col-sm-9">
                                    <button style="float: right;" type="submit"
                                        class="btn btn-primary mr-1 waves-effect waves-light">Save </button>
                                </div>
                            </div>
                        </div>
</form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>