<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/img/admin.png" alt="" height="40" />
          </span>
          <span class="logo-lg">
            <img src="assets/img/admin.png" alt="" height="40" />
          </span>
        </a>

        <a href="index.html" class="logo logo-light">
          
          <span class="logo-lg">
            <img src="assets/img/printonaz_logo.png" alt="" height="40" />
          </span>
        </a>
      </div>
      <!-- <app-menu-toggler></app-menu-toggler> -->
    </div>

    <div class="d-flex">
      <!-- <app-fullscreen-toggler title="Full Screen Mode"></app-fullscreen-toggler> -->
      <!-- <app-notification title="Notifications"></app-notification>
      <app-user-dropdown></app-user-dropdown> -->
    </div>
  </div>
</header>
