<div class="dropdown d-none d-lg-inline-block ml-1">
    <button type="button" class="btn header-item noti-icon waves-effect" toggleFullscreen>
        <i class="bx bx-fullscreen"></i>
    </button>
</div>