<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu" metis-menu>
        <li class="menu-title">Menu {{ name }}</li>

        <li>
          <a
            href=""
            routerLink="/dashboard"
            routerLinkActive="active"
            class="waves-effect"
          >
            <i class="bx bx-home-circle"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a
          routerLink="/employees"
            routerLinkActive="active"
            href=""
            class="waves-effect"
          >
            <i class="bx bx-layout"></i>
            <span>Employee</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
