<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="mb-0 font-size-18">Total Employees</h4>
        <br />
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="card o-hidden">
          <div class="card-body">
            <a href="">
              <div class="hospital-widgets media">
                <div class="hospital-box light-bg-danger1">
                  <!-- <img
                                        src="http://www.carpartsonline.ae/car_parts/assets/public/images/5.png"
                                        style="width: 37px"> -->
                </div>
                <div class="media-body">
                  <div class="hospital-content">
                    <h3 class="d-inline-block f-w-600">
                      <div class="count">{{Employee.length}}</div>
                    </h3>
                    <h5 class="m-t-5 mb-0 f-w-600">Total Employees</h5>
                  </div>
                  <div class="flowers">
                    <div class="flower1 danger1"></div>
                    <div class="flower2 danger1"></div>
                    <div class="flower3 danger1"></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Employees</h4>
            <div class="table-responsive">
              <table class="table table-centered table-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Sl.No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Phone No</th>
                    <th scope="col center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of Employee; let i = index">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.designation }}</td>
                    <td>{{ employee.phoneNumber }}</td>

                    <td>
                      <!-- <a [routerLink]="['/employee-edit/', employee._id]" class="mr-3 text-primary"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i
                          class="mdi mdi-pencil font-size-18"></i></a> -->
                      <a [routerLink]="['/employee-view/', employee._id]" type="button" class="
                          btn btn-primary btn-sm btn-rounded
                          waves-effect waves-light
                        ">
                        View
                      </a>
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>
            <!-- end table-responsive -->
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- container-fluid -->
</div>
<!-- End Page-content -->