<div id="layout-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="main-content">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>

<div class="rightbar-overlay"></div>